#pop{
   background-color: dodgerblue;
}

#pop2{
   background-color:white;
}

#pop3{
   background-color:#faff0c;
}

div{
   border-radius: 10px;
}

.btn btn-primary{
   border: 2px solid black;
   border-radius: 40px;
}

